#CarouselMap img{
    height: 100%;
    width: 100%;
}
.main {
    height: 33%;    
    // border: 1px solid #ccc;
    background: #F9FAFC ;
}
#Index {
  height: 33%;
  .videosConten {
    // border: 1px solid #ccc;
    background: #F9FAFC ;
    height: 100%;
  }
}